name: Build

on:
  push:
    branches: [ single ]
    paths:
    - '**.cs'
    - '**.csproj'
    - '.github/workflows/build.yml'
    
  workflow_dispatch:

  pull_request:
    branches: [ single ]

jobs:
  project_build:
    strategy:
      matrix:
        publish-profile: ["WindowsBuild", "LinuxBuild"]
    
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Install DotNet v6
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.x'

      - name: ${{ matrix.publish-profile }}
        run: |
          dotnet publish -p:PublishProfile=${{ matrix.publish-profile }} -o:".out/${{ matrix.publish-profile }}"
          
      - name: Artifact Uploading
        uses: actions/upload-artifact@v2
        with:
          name: ${{matrix.publish-profile}}
          path: .out/${{matrix.publish-profile}}/
